.form-horizontal {
    background: gainsboro;
    border-radius: 20px;
    padding: 10px;
    padding-top: 20px;
}

.login {    
    transform: translateY(50%);
}

.register {
    transform: translateY(10%);
}

.users {
    transform: translateY(20%);
}

.img {
    padding-top: 10px;
}

/* float class button*/
.flotante {
    display:scroll;
    position: fixed;
    bottom: 2em;
    right: 3%;    
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
}

/* scrollbar style*/

body::-webkit-scrollbar {
    width: 1em
}

body::-webkit-scrollbar-thumb {
    background: rgba(191, 63, 63, .5);
    border-radius: 5px;
}

