/*
## color reference
- https://colorhunt.co/palette/106460
- https://colorhunt.co/palette/139362
- https://colorhunt.co/palette/137905

## Icons font
- https://fontawesome.com/icons?d=gallery&m=free
*/
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Roboto');

.icon {
    color: #fff;
    font-size: 32px;
}

.navbar-color {
    background-color: #900d0d;
    margin: 10px;
    border-radius: 8px;
}

.back-color-index, .back-color-main, .back-color-room {
    background-color: #fbfbfb;
}

.back-color-register, .back-color-login {
    background-color: #fbfbfb;
}

#loginButton, #registerButton, #logOutButton, #CreateButton, #goBackButton, #join {
    background-color: #fff;
    color: #900d0d;
    font-family: 'Baloo Chettan', cursive;
}

.navbar-default .navbar-text {
    color: #fff;
}

.nav-title {
    font-family: 'Baloo Chettan', cursive;
    font-size: 1.2em;
}

.content-table {
    background-color: #fff;
    color: #900d0d;
    border-style: double;
    border-radius: 8px;
}

.table-users {
    background-color: #fff;
    color: #000;
    border-style: double;
    border-radius: 5px;
}

.title-room {
    padding: 10px;
    background-color: #900d0d;
    border-style: none;
    border-radius: 10px;
    color: #fff;
}

.blank {
    margin-top: 50px;
}

.content-table th {
    font-family: 'Roboto';
}

.content-table td{
    font-family: 'Baloo Chettan', cursive;
}

.separator {
    transform: translateY(30%);
}

.content {
    background-color: #900d0d;
    border-radius: 10px;
    padding: 10px 5%;
    color: #fff;
}

.content-title {
    font-family: 'Roboto';    
}

.jumbotron {
    border-radius: 20px;    
    background-color: #fff;
    color: #900d0d;
    border-style: double;
    font-family: 'Baloo Chettan', cursive;
}

.form-horizontal {
    border-radius: 20px;    
    background-color: #cf1b1b;
    color: #fff;
    border-style: double;
    font-family: 'Baloo Chettan', cursive;
}

.input-group-addon {
    background-color: #900d0d;
}

.input-group-addon > svg {    
    color: #fff;
}

#Register, #SignIn,  #Home_button, #Register_button {
    background-color: #900d0d;
    color: #fff;
    border-color: #000;
}

.link_sing {
    color: #fff;
}

.link_sing:hover {
    color: #CCCCCC;
}

.form-group > div > label {
    font-size: 20px;
}

.modal-content {
    background-color: #FFFDEB;
}

.modal-header {
    font-family: 'Roboto', cursive;
    color: #fff;
}

.modal-body {
    font-family: 'Baloo Chettan', cursive;
}

.modal-body label {
    font-size: 20px;
}

.login {    
    transform: translateY(50%);
}

.users {
    transform: translateY(20%);
}

.img {
    padding-top: 10px;
    color: red;
}

/* float class button*/
.flotante {
    display: scroll;
    position: fixed;
    bottom: 2em;
    right: 3%;    
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
}

.button-color-add-room {
    background-color: #900d0d;
    border-color: #cf1b1b;
    color: #fff;
    font-family: 'Baloo Chettan', cursive;
}

.button-color-add-room:hover {
    background-color: #fff;
    border-color: #cf1b1b;
    color: #cf1b1b;
}

.button-color-add-room:focus {
    background-color: #fff;
    border-color: #cf1b1b;
    color: #cf1b1b;
}

.button-color-add-room:active {
    background-color: #fff;
    border-color: #cf1b1b;
    color: #cf1b1b;
}

/* scrollbar style*/

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background: #480606;
}

body::-webkit-scrollbar-thumb {
    background: #900d0d;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #b2af8e;
    border-radius: 10px;
}

/* Chat */
.containerChat {
    width: 100%;
    height: 500px;
    border-style: double;
    border-color: #fff;
    border-radius: 5px;
    padding: 3px;
    background-color: #b9e1dc;
}

.panel-body {    
    overflow-y: scroll;
    height: 380px;
}

.panel-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

li {
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;    
}

.pull-left {
    margin-right: 10px;
}

li p {
    margin: auto;
}
.external-media {
    width: 100%;
    height: 500px;
    border-style: double;
    border-color: #fff;
    border-radius: 5px;
    padding: 3px;
    background-color: #b9e1dc;
}