/*
## color reference
- https://colorhunt.co/palette/106460
- https://colorhunt.co/palette/139362
- https://colorhunt.co/palette/137905

## Icons font
- https://fontawesome.com/icons?d=gallery&m=free
*/
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Roboto');

.icon {
    color: #900d0d;
    font-size: 32px;
}

iframe {
    width: 100%;
    height: 500px;
    border-style: double;
    border-color: #900d0d;
    border-radius: 5px;
    padding: 3px;
    background-color: #fffbcc;
}

.navbar-color {
    background-color: #fffbcc;
    margin: 10px;
}

.back-color-index, .back-color-main, .back-color-room {
    background-color: #fd2e2e;
}

.back-color-register, .back-color-login {
    background-color: #fffbcc;
}

#loginButton, #registerButton, #logOutButton, #CreateButton, #goBackButton {
    background-color: #900d0d;
    color: #fffbcc;
    font-family: 'Baloo Chettan', cursive;
}

.navbar-default .navbar-text {
    color: #900d0d;
}

.nav-title {
    font-family: 'Baloo Chettan', cursive;
    font-size: 1.2em;
}

.content-table {
    background-color: #900d0d;
    color: #fffbcc;
    border-style: double;
}

.table-users {
    background-color: #900d0d;
    color: #fffbcc;
    border-style: double;
    border-radius: 5px;
}

.title-room {
    background-color: #900d0d;
    border-style: dotted;
    border-radius: 10px;
    color: #fffbcc;
}

.blank {
    margin-top: 50px;
}

.content-table th {
    font-family: 'Roboto';
}

.content-table td{
    font-family: 'Baloo Chettan', cursive;
}

.separator {
    transform: translateY(30%);
}

.content {
    background-color: #fffbcc;
    border-radius: 10px;
    padding: 10px 5%;
}

.content-title {
    font-family: 'Roboto';    
}

.jumbotron {
    border-radius: 20px;    
    background-color: #cf1b1b;
    color: #fffbcc;
    border-style: double;
    font-family: 'Baloo Chettan', cursive;
}

.form-horizontal {
    border-radius: 20px;    
    background-color: #cf1b1b;
    color: #fffbcc;
    border-style: double;
    font-family: 'Baloo Chettan', cursive;
}

.input-group-addon {
    background-color: #fffbcc;
}

.input-group-addon > svg {    
    color: #900d0d;
}

#Register, #SignIn {
    background-color: #fffbcc;
    color: #900d0d;
    border-color: #000;
}

.form-group > div > label {
    font-size: 20px;
}

.modal-content {
    background-color: #FFFDEB;
}

.modal-header {
    font-family: 'Roboto', cursive;
    color: #900d0d;
}

.modal-body {
    font-family: 'Baloo Chettan', cursive;
}

.modal-body label {
    font-size: 20px;
}

.login {    
    transform: translateY(50%);
}

.users {
    transform: translateY(20%);
}

.img {
    padding-top: 10px;
    color: red;
}

/* float class button*/
.flotante {
    display: scroll;
    position: fixed;
    bottom: 2em;
    right: 3%;    
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
}

.button-color-add-room {
    background-color: #fffbcc;
    border-color: #cf1b1b;
    color: #900d0d;
    font-family: 'Baloo Chettan', cursive;
}

.button-color-add-room:hover {
    background-color: #900d0d;
    border-color: #cf1b1b;
    color: #cf1b1b;
}

.button-color-add-room:focus {
    background-color: #900d0d;
    border-color: #cf1b1b;
    color: #cf1b1b;
}

.button-color-add-room:active {
    background-color: #900d0d;
    border-color: #cf1b1b;
    color: #cf1b1b;
}

/* scrollbar style*/

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-thumb {
    background: #fffbcc;
    border-radius: 5px;
}

